body{
    background-color: #eee;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
}
li{
    float: right;
}
li:hover{
    background-color: rgba(0,0,0,0.3);
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}
.active{
    background-color: #2634f0;
}
.content{
    margin-top: 55px;
}